// App Logo Float
@keyframes App-logo-float {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0px);
	}
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-float infinite 3s ease-in-out;
	}
}

// Darkreader fix
html[data-darkreader-mode],
html[data-darkreader-scheme] {
	.App-logo {
		border-color: #2a2b2c !important;
	}
}
