@use './FontAwesome';
@use './Manrope.scss';

$widthToggle: 1000px;
$widthToggle2: 600px;
@media screen and (min-width: $widthToggle) {
	.profile {
		--width: 50vw;

		.left {
			.App-logo.profilePagePfpImg {
				--height: 6.5rem;
			}
		}
		.middle {
			.username {
				--fontSize: 1em;
			}
		}
	}
}
@media screen and (max-width: $widthToggle) and (min-width: $widthToggle2) {
	.profile {
		--width: 80vw;

		.left {
			.App-logo.profilePagePfpImg {
				--height: 5rem;
			}
		}
		.middle {
			padding-top: 10px !important;
			.username {
				--fontSize: 0.7em;
			}
		}
	}
}
@media screen and (max-width: $widthToggle2) {
	.profile {
		--width: 90vw;
		.left {
			.App-logo.profilePagePfpImg {
				--height: 3rem;
			}
		}
		.middle {
			padding-top: 5px !important;
			.username {
				--fontSize: 0.5em;
			}
		}
	}
}

.profile {
	background: #23222b;

	border-radius: 20px;

	min-width: var(--width);
	max-width: var(--width);
	min-height: 50vh;

	animation: in 1s;

	display: flex;
	.left,
	.bottom {
		padding: 20px 20px;
		display: block;
	}
	.left {
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		border-bottom-left-radius: 20px;

		background: linear-gradient(20deg, rgb(98, 0, 255), rgb(0, 102, 255));

		.top {
			.profilePagePfpImg {
				transition: height 2s, --height 2s;
				height: var(--height);
				border-radius: 100%;
				border: solid #2a2b2c 3px;
			}
		}
		.middle {
			.username {
				font-family: Discord;
				transition: font-size 2s, --fontSize 2s;
				.user {
					font-size: var(--fontSize);
				}
				.tag {
					font-size: calc(var(--fontSize) / 1.25);
					color: rgb(159, 166, 178);
				}
			}
		}
		.bottom {
			.links {
				a {
					--linkClr: rgb(177, 177, 177);
				}
				.SocialButton {
					top: 0;
					position: relative;
					transition: top 1s;
					&:hover {
						top: -10px;
					}
				}
			}
		}
	}
	.right {
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;

		padding-left: 20px;
		padding-right: 20px;

		text-align: left;
		max-height: 100vh;
		overflow: auto;
	}
}

@keyframes in {
	0% {
		transform: scale(0);
	}
	75% {
		transform: scale(1.25);
	}
	100% {
		transform: scale(1);
	}
}
